	<body id='contact_bg'>
<h1 id='page_title'>Contact page</h1>
<div id='google'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.0487397520437!2d-75.29359468474406!3d39.962662979420436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c10906241a55%3A0x9e037fa4d8cbda12!2s2228+Bond+Ave%2C+Drexel+Hill%2C+PA+19026!5e0!3m2!1sen!2sus!4v1531108209679" width="1000" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></div>
			
	<div class='skinny_wrapper wrapper_padding'>
		<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>
		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>
		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text %>

		<div class='hidden'>
		<%= f.label :nickname %><br>
		<%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>
		<%= f.submit 'Send Email', class: 'button'%>

		<% end %>

	</div>
</body>