<!DOCTYPE html>
<html>

 <head>
  <title>Carlos Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Ubuntu+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
    <header id='main_navigation' class='clearfix'>
    <a href="#" class='name'>Carlos rivera</a>
    <nav>
      <%= link_to "Articles", posts_path %>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
